#main_page_container
  .row
    #text_overlay.small-6.columns
      %h1#head Spy MD
      %h4#sub_text Tracking your fitness is made easy with SpyMD!
    -# #logo.small-6.columns
    -#   =image_tag "spyReal.png"
