#main_page_container
  .row
    #text_wrap
      #about
        %h2#specf_about What we do:
        %br/
        %h3 SpyMD is a simple, fast interface for quickly comparing personal Fitbit data against recommended amounts.
        %br/
        %h3 With our help there is no longer a need to download heavy apps for a quick glance at your health statistics!
      #text_overlay
        %h1#head Spy MD
        #logo
          =image_tag "Inverse2.png"
        %h4#sub_text Tracking fitness is now easier than ever!
  -# .row
    -# %h2#tagline Get started today
