#tracker_container
  #text
    - if current_user.consumer_token.nil?
      %h4 Uh-oh! Your account hasn't been linked yet! Don't worry, we'll help you out.
      -# = simple_form_for current_user, url: token_get_path do |f|
      -#   = f.input :email, label: "Email"
      -#   = f.input :password, label: "Password"
      -#   = f.submit "Save"

      -# %h4 Please click the link below to set up account:
      = link_to "Link account", token_get_path


-# http://www.fitbit.com/oauth/authorize?oauth_token=#{token}
